html {
	width: 100%;
	height: 100%;
	font-size: 16pt;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.FullContainer {
	width: 100%;
	height: 100%;
}

#Canvas {
	position: absolute;
}

#Content {
	position: absolute;
	perspective: 1000px;
}

/** -Flexbox */
.FlexRow {
	display: flex;
	flex-direction: row;
}

.FlexColumn {
	display: flex;
	flex-direction: column;
}

.FlexDynamic {
	flex-grow: 1;
	height: 100%;
	width: 100%;
}

.FlexStatic {
	flex-shrink: 0;
}

.FlexCenter {
	align-items: center;
	justify-content: center;
}

/** -Flipcard **/
.Flipcard {
	position: relative;
	transform-style: preserve-3d;
}

.Flipcard.Transition {
	transition:
		transform 0.3s linear,
		width 0s 0.15s,
		height 0s 0.15s;
}

.Flipcard.Active{
	transform: rotateY(180deg);
}

.FlipcardFace {
	position: absolute;
	backface-visibility: hidden;
	overflow: hidden;
}

.FlipcardFront{}

.FlipcardBack{
	transform: rotateY(180deg);
}