html {
	width: 100%;
	height: 100%;
	font-size: 16px;
	overflow: hidden;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.FullContainer {
	width: 100%;
	height: 100%;
}

#Canvas {
	position: absolute;
}

#Content {
	position: absolute;
	perspective: 1000px;
}

/** -Scroll */
.AllowScroll.X { overflow-x: auto; }
.AllowScroll.Y { overflow-y: auto; }

.Scroll.X { overflow-x: scroll; }
.Scroll.Y { overflow-y: scroll; }

/** -Flexbox */
.FlexRow {
	display: flex;
	flex-direction: row;
}

.FlexColumn {
	display: flex;
	flex-direction: column;
}

.FlexDynamic {
	flex-grow: 1;
	height: 100%;
	width: 100%;
}

.FlexStatic {
	flex-shrink: 0;
}

.FlexCenter {
	align-items: center;
	justify-content: center;
}

/** -Button */
.Button {
	user-select: none;
	cursor: pointer;
}

.ButtonText {
	transition: margin 0.1s;
}

.Button {}

/** -Flipcard **/
.Flipcard {
	transform-style: preserve-3d;
}

.Flipcard.Front {
	transform: rotateY(0deg);
}

.Flipcard.Back {
	transform: rotateY(360deg);
}

.Flipcard.Mid {
	transform: rotateY(90deg);
}

.Flipcard.FrontSpeed {
	transition: transform 50ms linear;
}

.Flipcard.BackSpeed {
	transition: transform 200ms linear;
}

/** -ExpandingMenu */
.ExpandingMenu {
	transition: 
		max-width 2500ms linear;
}