.Text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 2pt 4pt;
	margin: 0 4pt;
}

/** -Flipcard **/
.FlipcardFront,
.FlipcardBack {
	border-image-source: url("resources/components/FlipcardBorder.png");
	border-image-slice: 16 fill;
	border-image-width: 64px;
	border-image-outset: 64px;
	border-image-repeat: repeat;
	image-rendering: pixelated;
}