:root {
	--blessed: #f1d800;
}

.Text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 4px 8px;
	margin: 0 4px;
	user-select: none;
	white-space: normal;
}

.Header {
	font-weight: bold;
}

.Title {
	font-size: 32px;
	font-weight: bold;
}

/** -Button */
.ButtonText:hover {
	margin: 0 0 0 8px;
}

/** -Card **/
.Card {
	border: black double 32px;
	border-image-source: url("resources/components/FlipcardBorder_0.png");
	border-image-slice: 8 fill;
	border-image-width: 32px;
	border-image-repeat: repeat;
	image-rendering: pixelated;
}

.Card.Type0 {
	border-image-source: url("resources/components/FlipcardBorder_0.png");
}

.Card.Type1 {
	border-image-source: url("resources/components/FlipcardBorder_1.png");
}

.Card.Type2 {
	border-image-source: url("resources/components/FlipcardBorder_2.png");
}

.Card.Type3 {
	border-image-source: url("resources/components/FlipcardBorder_3.png");
}