:root {
	--blessed: #f1d800;
}

.Text {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding: 4px 8px;
	margin: 0 4px;
	user-select: none;
}

.Header {
	font-weight: bold;
}

.Title {
	font-size: 32px;
	font-weight: bold;
}

/** -Button */
.ButtonText:hover {
	margin: 0 0 0 8px;
	color: var(--blessed);
}

/** -Flipcard **/
.Flipcard {
	margin: 32px;
}

.FlipcardFront,
.FlipcardBack {
	border-image-source: url("resources/components/FlipcardBorder.png");
	border-image-slice: 16 fill;
	border-image-width: 64px;
	border-image-outset: 64px;
	border-image-repeat: repeat;
	image-rendering: pixelated;
}