<div flex="row dynamic center" style="perspective: 1000px;">

	<div flex="column static" card="type1" style="font-size: 20rem">
		<div flex="static" font="title center">Story</div>
		<div flex="dynamic"></div>
		<div flex="static" font="center">Discover what adventure awaits you!</div>
	</div>

	<div flex="column static" card="type2" style="font-size: 20rem">
		<div flex="static" font="title center">Endless</div>
		<div flex="dynamic"></div>
		<div flex="static" font="center">Venture to undiscovered depths!</div>
	</div>

	<div flex="column static" card="type3" style="font-size: 20rem">
		<div flex="static" font="title center">Encursion</div>
		<div flex="dynamic"></div>
		<div flex="static" font="center">Challenger yourself by fighting these mighty encounters!</div>
	</div>

</div>