<div id="MainMenu-Unlocks" class="FlexStatic FlexColumn">
	<div class="FlexStatic FlexColumn">
		<div class="Title Text">Ancestries</div>
		<div id="Unlocks-AncestriesLocked"></div>
		<div id="Unlocks-AncestriesUnlocked"></div>
	</div>
	<div class="FlexStatic FlexColumn">
		<div class="Title Text">Classes</div>
		<div id="Unlocks-ClassesLocked"></div>
		<div id="Unlocks-ClassesUnlocked"></div>
	</div>
	<div class="FlexStatic FlexColumn">
		<div class="Title Text">Backgrounds</div>
		<div id="Unlocks-BackgroundsLocked"></div>
		<div id="Unlocks-BackgroundsUnlocked"></div>
	</div>
</div>